
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.article-title{
    font-size: 27px;
    font-weight: bold;
    color: black;
}

.metadata{
    font-style: italic;
}

article img{
    width: 50% !important;
    margin: auto;
    height: auto !important;
    display: block;
}
