
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.article-panel{
    font-family: "Slab Serif",sans-serif;
    line-height: 1.75em;
    color: #333333;

}

.article-title{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 700;
    // color: black;
}

.metadata{
    font-style: italic;
    color:#9e9e9e;
    padding-bottom: 20px;
}

.article-panel-content{
    width: 560px;
    margin: auto;
}

article img{
    border-radius: 3px;
    display: block;
    width: 100% !important;
    margin: auto;
    margin-bottom: 30px;
    height: auto !important;
    border: 1px solid #efefef;
}

.container{
    width:700px;
}
